html {
    background-color: rgb(50,50,50);
}

div {
    background-color: black;
    width: 80%;
    border-radius: 20px;
    border: 5px solid white;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;
}

.TopContainer {
    display: inline-block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: white;
    font-family: Sans-serif;
    font-size: 30px;
}

h2 {
    color: white;
    font-family: Sans-serif;
    font-size: 24px;
}

p {
    color: rgb(220,220,220);
    font: italic 14px Sans-serif;
}

a {
    color: black;
    background-color: white;
    font: bold 16px Sans-serif;

    padding: 5px;
    border-radius: 10px;

    text-decoration-line: none !important;
    
    transition-duration: 0.2s;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

a:hover {
    background-color: yellow !important;
    scale: 1.10;
}

img {
	width: 95%;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 20px;
}

#DropDownMenu {
    display: none;
}